.font-24{
  font-size: 24px;
}
.pad{
  padding: 14px;
}
.padding-top{
  padding-top: 133px;
}

.text-darkgray{
  color:$gray-600;
}
button.nav-link{
  &:hover{
    color:$gray-500;
  }
}
.box2{
  position: relative;
  height: 417px;
  @media(max-width:767px){
    height: 640px;
  }
}
.triangle-left{
  position: absolute;
  left: 0;
  top: 0;
  border-left: 16px solid #000;
  border-bottom: 16px solid transparent;
}
.triangle-right{
  position: absolute;
  right: 0;
  top: 0;
  border-right: 16px solid #000;
  border-bottom: 16px solid transparent;
}
.pic{
  max-height: 270px;
  max-width: 263px;
  img{
    height: 270px;
    width: 263px;
    object-fit: cover;
    padding: 8px;
    background-color: #000;
    @media(max-width:540px){
      width: 304px;
      height: 313px;
    }
  }
}
.margin-top{
  margin-top: 88px;
  @media(max-width:540px){
    margin-top: 16px;
  }
}
.margin-bottom{
  margin-bottom: 128px;
  @media(max-width:540px){
    margin-bottom: 40px;
  }
}
a{
  display: inline-block;
}
@media(max-width:540px){
  .artist >*{
    padding: 0;
  }
  .collect{
    display: none;
  }
}