body{
  font-family: 'Squada One','Noto Sans TC', cursive, sans-serif;
  background-color: $gray-200;
}
.bg-gray{
  background-color: $gray-200;
}
.btn-outline-gray{
  border: 1px solid $gray-200;
}
.text-gray{
  color:$gray-200;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.padding{
  padding-right: 343px;
  @media(max-width:1440px){
    padding-right: 200px;
  }
  @media(max-width:1024px){
    padding-right: 80px;
  }
  @media(max-width:576px){
    padding-right: 0px;
  }
}
input[type="search"]{
  border:none;
  background-color: $gray-200;
  width: 260px;
  @media(max-width:992px){
    width: 80px;
  }
}
main{
  margin-top: 144px;
}

.btn-orange{
  background-color: #E6553B;
  color:#fff;
  padding: 12px;
  width: 100%;
  border: 1px solid #000;
}
.w-mode{
writing-mode: vertical-lr;
background-color: #000;
color:white;
@media(max-width:992px){
  display:none;
}
}
.flex-direction{
  flex-direction: column;
}
.more{
  width: 132px;
  position: relative;
  font-size: 18px;
  line-height: 19px;
  color:#000;
  &:hover{
    background-color: #E6553B;
    border: 1px solid #000;
    color:white;
    .triangle{
      border-right: 16px solid #000;
      border-top: 16px solid transparent;
    }
  }
}
.triangle{
  position: absolute;
  bottom:0;
  right:0;
  /*  三角形  */
  width: 0;
  height: 0;
  border-right: 16px solid #E6553B;
  border-top: 16px solid transparent;
}
.image img{
  width: 329px;
  height: 340px;
}
.num{
  font-family:'Paytone One', sans-serif;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #fff;
  top: 1px;
  left: 1px;
}
.more2{
  display:none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
  line-height: 19px;
  color:white;
  background-color: #E6553B;
  border: 1px solid #000;
  .triangle{
      border-right: 16px solid #000;
      border-top: 16px solid transparent;
  }
}
.object{
  height: 374px;
  overflow:hidden;
  position: relative;
  background-color: #000;
  img{
    object-fit: cover;
    &:hover{
      opacity:0.4;
      + .more2{
        display:block;
      }
    }
  }
}
.more3{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  font-size: 18px;
  line-height: 19px;
  color:white;
}
.triangle2{
  display:none;
  position: absolute;
  bottom:0;
  right:0;
  /*  三角形  */
  width: 0;
  height: 0;
  border-right: 16px solid #E6553B;
  border-top: 16px solid transparent;
}
.image2{
  position: relative;
  width: 90px;
  height: 90px;
  background-color: #000;
  overflow:hidden;
  img{
    object-fit: cover;
    &:hover{
      opacity:0.4;
      + .more3{
        display:block;
        + .triangle2{
          display: block;
        }
      }
    }
  }
}
.font{
  font-family: 'Paytone One', sans-serif;
  font-size: 24px;
}
.wrap{
  white-space: nowrap;
}
.pc{
  display: block;
}
.mobile{
  display: none;
}
.pc2{
  display: block;
}
.pad{
  display: none;
}
.bk-slider {
  position: relative;
  height: 439px;
  padding: 120px 0 100px;
  overflow:hidden;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow:visible;
  @media(max-width:767px){
    overflow:hidden;
  }
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: $gray-100;

  /* Center slide text vertically */
  display: flex;
  align-items: center;
  img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter:grayscale(100%);
  }
  &-active{
    transform:scale(1.5);
    z-index:2;
    img{
      filter:none;
    }
  }
}
.swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  background-color: #000;
  &-active{
    width: 16px;
    background-color: #E6553B;
  }
}
.font-80{
  position: absolute;
  color:white;
  font-size: 53px;
  line-height: 1;
  top: 16px;
  left: 16px;
}
.box{
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 204px;
  height: 64px;
  font-size: 11px;
  background-color: rgba(255,255,255,0.7);
  @media(max-width:992px){
    width: 180px;
    font-size: 12px;
  }
  @media(max-width:767px){
    position:static;
    width: 100%;
    height: auto;
    font-size: 16px;
    background-color: #fff;
  }
}
.more5{
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 88px;
  font-size: 12px;
  color:#000;
  background-color: #fff;
  &:hover{
    background-color: #E6553B;
    border: 1px solid #000;
    color:white;
    .triangle{
      border-right: 11px solid #000;
      border-top: 11px solid transparent;
    }
  }
}
.grid{
  margin:0 auto;
}
.grid-item {
  max-width: 306px;
  width: 306px; 
  margin-bottom: 48px;
  @media(max-width:992px){
    max-width: 200px;
    width: 200px;
    margin-bottom: 24px;
  }
  @media(max-width:768px){
    max-width: 140px;
    width: 140px;
    margin-bottom: 16px;
  }
  a:hover{
    .overlay{
      display: block;
      @media(max-width:767px){
        display:none;
      }
    }
  }
}
.overlay-outer{
  position: relative;
}
.overlay{
  display: none;
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: rgba(0,0,0,0.6);
  width: calc(100% - 48px);
  height: calc(100% - 104px);
  .border2{
    position: absolute;
    top: 16px;
    left: 16px;
    width: 87%;
    height: 82%;
    border: 1px solid #fff;
    padding: 16px;
  }
  .more4{
    position: absolute;
    bottom: 30px;
    right: 40px;
  }
}
.bd3{
  border-bottom: 4px solid #000;
}
.bd4{
  border-top: 4px solid #000;
  font-family: 'Noto Sans TC';
  font-size: 16px;
}
.icon i{
  color:#E6553B;
  font-size: 60px;
}
@media(max-width:992px){
  .bd-top{
    border-top: 1px solid #000;
  }
  .pc2{
    display: none;
  }
  .pad{
    display: block;
  }
  .nav-link{
    text-align: center;
  }
  .navbar-collapse{
    background-color: #fff;
  }
  .bd-bottom{
    border-bottom: 1px solid #000;
  }
  .bd{
    border-right: none !important;
    border:none!important;
    border-left: none!important;
    border-bottom: none!important
  }
  .row-direction{
    flex-direction: column;
  }
  .image img{
    width: 100%;
    height: auto;
  }
  .item:nth-of-type(1){order: 2;}
  .item:nth-of-type(2){order: 1;}
  .item:nth-of-type(3){order: 4;}
  .item:nth-of-type(4){order: 3;}
.title span{
  display: none;
  }
}

@media(max-width:767px){
  .pc{
    display: none;
  }
  .mobile{
    display: block;
  }
  main{
    margin-top: 50px;
  }
  .logo img{
    width: 85px;
  }
}